<!-- Fix padding. should be 50px of padding to make sure the navbar doesn't overlap content!  -->

<!-- make sure links and routes line up  -->    
<!-- probably have to do an each loop to irritate through blog posts: <%# @posts.each do |post| %> -->    

<p id="notice"><%= notice %></p>



<!-- Page Content -->
<div class="container">

    <div class="row">
      <% @posts.each do |post| %>

          <!-- Blog Entries Column -->
        <div class="col-md-12 align-center">

          <!-- First Blog Post -->
          <h2 class="title text-center"><%= link_to post.title, post %></h2>
            
          <!-- link to about page -->
          <p class="lead text-center">by <%= link_to 'Charlie Ara', '#' %></p>

          <p class="date text-center"><%= post.created_at.strftime("%B, %d, %Y") %></p>

          <hr>
          <img class="img-responsive center-block" src="http://placehold.it/900x300" alt="">
          <hr>

           <p class="lead"><%= post.body %></p>

          <p><%= link_to 'Read More', post %><span class="glyphicon glyphicon-chevron-right"></span></p>
        </div>
      <% end %>
    </div>
    
    <hr>

    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>

    <hr>
<!-- /.container -->
</div>







